* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Header */
.headerContainer {
  width: 100%;
  /* position: fixed;
    z-index: 999; */
}

.topHeader {
  width: 70%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.leftHeader {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.leftHeader strong {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.brandName {
  margin-left: 5%;
}

.rightHeader {
  height: 70px;
  display: flex;
  align-items: center;
}

.navForUser {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navForUser li {
  padding: 0 10px;
  list-style: none;
}

.navForUser li > a {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
}

.bottomHeader {
  width: 100%;
  height: 50px;
  margin: auto;
  /* border-bottom: 1px solid #ebebeb; */
  border-top: 1px solid #ebebeb;
}

.navbarMain {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar li {
  list-style: none;
}

.navbar .navItem > a {
  font-size: 14px;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.navbar .navItem:hover > a {
  color: #a68242;
}

/* Cart Session */

.cartSession {
  width: 100%;
  display: flex;
}

.leftSession {
  width: 80%;
  padding-left: 8%;
}

.cartTitle {
  margin: 20px 0;
  font-size: 26px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #1c1c1c;
}

#itemCart {
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.cartMain {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.cartMain div {
  margin-right: 10%;
  width: 25%;
}

.itemImg img {
  width: 120px;
  height: 180px;
}

.itemInfo {
  color: #242424;
  font-weight: 500;
}

.itemInfo button {
  border: 0;
  color: #a68242;
  font-size: 13px;
  position: static;
  padding: 0;
  line-height: 1.1;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.itemInfo button:hover {
  text-decoration: underline;
}

.itemPrice {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  padding-top: 0;
  color: #a68242;
}

.itemQuantityChange {
  /* border: 1px solid #e5e5e5; */
}

.itemQuantityChange button {
  border: 2px solid black;
  border-color: #e5e5e5;
  /* color: #999; */
  line-height: 20px;
  padding: 3px 9px;
  width: 28px;
  background-color: #fff;
  cursor: pointer;
}

.rightSession {
  width: 20%;
  padding-right: 4%;
  margin-top: 4%;
}

#totalMoney {
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buyBtn {
  border: 1px solid #000;
  background-color: #000;
  height: 40px;
  margin: 10px 0;
  cursor: pointer;
}

.buyBtn a {
  color: #fff;
}

.buyBtn:hover {
  color: #000;
  background-color: #fff;
}

.buyBtn:hover a {
  color: #000;
  width: 100%;
}

.ctnBtn {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  height: 40px;
  cursor: pointer;
}

.ctnBtn:hover {
  background-color: #000;
}

.ctnBtn:hover a {
  color: #fff;
}

/* Footer */

.footer {
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  padding-bottom: 20px;
}

.footerMain {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footerMoreInfo {
  width: 45%;
  padding-left: 6%;
  /* background-color: black; */
}

.footerMoreInfo .footerList {
  list-style: none;
}

.footerMoreInfo .footerList li {
  padding: 5px 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

.footerService {
  width: 25%;
}

.footerService h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 600;
  padding: 8px 0;
}

.footerService .footerServiceList {
  list-style: none;
  padding-left: 5px;
}

.footerService .footerServiceList li {
  padding: 5px 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

.footerSocialMedia {
  width: 30%;
}

.footerSocialMedia h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 600;
  padding: 8px 0;
}

.linkDownoad {
  display: flex;
}

.footerSocialMedia .linkDownoad img {
  width: 135px;
  height: auto;
  border: 0 none;
  padding: 5px;
  cursor: pointer;
}

.footerSocialMedia .socialMediaIcon {
  padding: 5px;
}

.footerSocialMedia .socialMediaIcon img {
  height: 32px;
  cursor: pointer;
}

/* Copyright */

.copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #ebebeb;
}

.copyright i {
  padding-right: 5px;
}

.copyright span {
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 500;
}
