* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

/* Header */
.headerContainer {
  width: 100%;
  /* position: fixed;
      z-index: 999; */
}

.topHeader {
  width: 70%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.leftHeader {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.leftHeader strong {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.brandName {
  margin-left: 5%;
}

.rightHeader {
  height: 70px;
  display: flex;
  align-items: center;
}

.navForUser {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navForUser li {
  padding: 0 10px;
  list-style: none;
}

.navForUser li > a {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
}

.bottomHeader {
  width: 100%;
  height: 50px;
  margin: auto;
  /* border-bottom: 1px solid #ebebeb; */
  border-top: 1px solid #ebebeb;
}

.navbarMain {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar li {
  list-style: none;
}

.navbar .navItem > a {
  font-size: 14px;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.navbar .navItem:hover > a {
  color: #a68242;
}

/* Login Form */

.container .card {
  width: 50%;
  height: 50%;
  margin: 80px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .cardTitle {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.form {
  margin-top: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  padding: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.formGroup .formControl {
  width: 100%;
  height: 40px;
  margin-top: 6px;
  border: 1px solid #000;
  padding-left: 10px;
}

.submitBtn {
  margin: 14px 0;
}

.submitBtn button {
  height: 40px;
  width: 260px;
  /* border-radius: 5px; */
  border: 1px solid #000;
  cursor: pointer;
}

.submitBtn button:hover {
  background-color: #000;

  color: #fff;
}

.navLogin:hover a {
  color: #a68242;
}
/* Footer */

.footer {
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  padding-bottom: 20px;
}

.footerMain {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footerMoreInfo {
  width: 45%;
  padding-left: 6%;
  /* background-color: black; */
}

.footerMoreInfo .footerList {
  list-style: none;
}

.footerMoreInfo .footerList li {
  padding: 5px 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

.footerService {
  width: 25%;
}

.footerService h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 600;
  padding: 8px 0;
}

.footerService .footerServiceList {
  list-style: none;
  padding-left: 5px;
}

.footerService .footerServiceList li {
  padding: 5px 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

.footerSocialMedia {
  width: 30%;
}

.footerSocialMedia h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 600;
  padding: 8px 0;
}

.linkDownoad {
  display: flex;
}

.footerSocialMedia .linkDownoad img {
  width: 135px;
  height: auto;
  border: 0 none;
  padding: 5px;
  cursor: pointer;
}

.footerSocialMedia .socialMediaIcon {
  padding: 5px;
}

.footerSocialMedia .socialMediaIcon img {
  height: 32px;
  cursor: pointer;
}

/* Copyright */

.copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #ebebeb;
}

.copyright i {
  padding-right: 5px;
}

.copyright span {
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 500;
}
